In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sb
import plotly.express as px
import folium

# Delcare the path to the CSV file
path = "Latest_Data_Breahces.csv"

# Call pandas method to read the CSV file
dataset = pd.read_csv(path)

# Display the dataset
display(dataset)

###

,organisation,alternative name,records lost,year,date,story,sector,method,interesting story,data sensitivity,displayed records,Unnamed: 11,source name,1st source link,2nd source link,ID
0,Shanghai Police,NaN,"500,000,000",2022,22-Jul,A database containing records of over a billio...,financial,hacked,NaN,5.0,"""one billion""",NaN,The Register,https://www.theregister.com/2022/07/05/shangha...,NaN,420
1,CDEK,NaN,"18,218,203",2022,22-Mar,UNVERIFIED. Russian courier service CDEK was h...,retail,hacked,NaN,3.0,"19,000,000",NaN,Have I Been Pwned,https://twitter.com/haveibeenpwned/status/1504...,NaN,413
2,Plex,NaN,"15,000,000",2022,22-Aug,"Intruders access password data, usernames, and...",web,hacked,NaN,1.0,NaN,NaN,Ars technica,https://arstechnica.com/information-technology...,NaN,418
3,FlexBooker,NaN,"3,700,000",2022,22-Jan,appointment scheduling service,web,hacked,NaN,3.0,"3,700,000",NaN,Bleeping Computer,https://www.bleepingcomputer.com/news/security...,NaN,409
4,PayHere,NaN,"1,580,249",2022,22-Mar,Sri Lankan payment gateway PayHere suffered a ...,financial,hacked,NaN,3.0,NaN,NaN,Pay Here,https://blog.payhere.lk/ensuring-integrity-on-...,NaN,414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,Automatic Data Processing,"Business outsourcing, payrolls, benefits","125,000",2006,Jul 2006,"Automatic Data Processing, one of the world's ...",finance,poor security,NaN,2.0,NaN,NaN,ABC News,http://abcnews.go.com/Technology/story?id=2160...,NaN,8
413,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Master...","40,000,000",2005,Jun 2005,An unauthorized entity enabled access to cusom...,finance,hacked,y,3.0,NaN,NaN,Wired,https://www.wired.com/2005/06/cardsystems-data...,NaN,3
414,Citigroup,NaN,"3,900,000",2005,Jun 2005,A box of computer tapes containing information...,finance,lost device,y,3.0,NaN,NaN,NY Times,http://www.nytimes.com/2005/06/07/business/07d...,NaN,4
415,Ameritrade Inc.,online broker,"200,000",2005,Apr 2005,A computer backup tape containing the personal...,finance,lost device,NaN,2.0,NaN,NaN,NBC,http://www.nbcnews.com/id/7561268/,NaN,5
416,AOL,American Online,"92,000,000",2004,Jun 2004,A former America Online software engineer stol...,web,inside job,NaN,1.0,"92,000,000",NaN,CNN,http://money.cnn.com/2004/06/23/technology/aol...,NaN,2