In [ ]:
# IMPORTING LIBRARIES

    # import pandas as pd
    # import numpy as np
    # import matplotlib.pyplot as plt
    # import seaborn as sb 
    # import plotly.express as px 
    # import folium 


# UPLOADING DATASETS

    # --- Displaying ---
        # dataset = pd.read_csv(path) - Call a pandas method that reads the csv file
        # display(dataset) - Display the dataset and see for yourself!

    
# DATA MANIPULATION (PANDAS)

    # --- Data Loading / Inspection ---
        # import pandas as pd 
        # df.info() - Get column names, data types, and missing values 
        # df.head() - Show first 5 rows
        # df.describe() - Get summary statistics

    # --- Selecting & Filtering Data ---
        # df["Weekly Sales"] - Select one column
        # df[["Store", "Weekly_Sales"]] - Select multiple columns
        # df[df["Weekly Sales"] > 1000] - Sales greater than $1M
    
    
    

import pandas as pd

df = pd.read_csv('Latest_Data_Breahces.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   organisation       418 non-null    object
 1   alternative name   144 non-null    object
 2   records lost       418 non-null    object
 3   year               418 non-null    object
 4   date               417 non-null    object
 5   story              411 non-null    object
 6   sector             418 non-null    object
 7   method             418 non-null    object
 8   interesting story  85 non-null     object
 9   data sensitivity   417 non-null    object
 10  displayed records  75 non-null     object
 11  Unnamed: 11        0 non-null      float64
 12  source name        417 non-null    object
 13  1st source link    416 non-null    object
 14  2nd source link    32 non-null     object
 15  ID                 417 non-null    float64
dtypes: float64(2), object(14)
memory usage: 52.4+ KB

,organisation,alternative name,records lost,year,date,story,sector,method,interesting story,data sensitivity,displayed records,Unnamed: 11,source name,1st source link,2nd source link,ID
0,visualisation here: https://informationisbeaut...,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",year story broke,NaN,NaN,web\nhealthcare\napp\nretail\ngaming\ntranspor...,poor security\nhacked\noops!\nlost device \nin...,NaN,1. Just email address/Online information \n2 S...,"=IF(C3>100000000,C3,"")",NaN,NaN,NaN,NaN,NaN
1,Plex,NaN,"15,000,000",2022,Aug 2022,"Intruders access password data, usernames, and...",web,hacked,NaN,1,NaN,NaN,Ars technica,https://arstechnica.com/information-technology...,NaN,418.0
2,Twitter,NaN,"5,400,000",2021,Dec 2021,Zero day vulnerability allowed a threat actor ...,web,hacked,NaN,2,NaN,NaN,Bleeping Computer,https://www.bleepingcomputer.com/news/security...,NaN,419.0
3,Shanghai Police,NaN,"500,000,000",2022,Jul 2022,A database containing records of over a billio...,financial,hacked,NaN,5,"""one billion""",NaN,The Register,https://www.theregister.com/2022/07/05/shangha...,NaN,420.0
4,"City of Amagasaki, Japan",NaN,"500,000",2022,Jun 2022,An unnamed government official lost his bag af...,government,oops!,NaN,3,NaN,NaN,BBC,https://www.bbc.co.uk/news/world-asia-61921222,NaN,421.0